*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: lightgrey !important;
    font-family: "Kumbh Sans", sans-serif;
  }

header {
    margin: auto;
    background-color: cornflowerblue;
    border: 5px solid black;
    height: 50px;
    justify-content: center;

}

#timer {
    float: right;
    color: black;
    padding-top: 10px;
}

#highscores {
    float: left;
    padding-top: 10px;
}

/* main {
    padding: 0;
    margin-top: -100px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */
#card-container {
    border: 3px outset black;
    box-shadow: 0 0 25px 1px darkslategray;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
    background-color: cornflowerblue;
    align-content: center;
    justify-items: center;
  }
#start-btn, #end-btn {
    background-color: lightgray;
    color: black;
    display: block;
    margin: auto;
}

.btn-stack {
    display: grid;
}

#timer-readout {
    text-align: center;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 7px;
    position: absolute;
    top: 80px;
    right: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    font-size: 20pt;
    min-width: 110px;
    display: flex;
    border-radius: 25px;

}
/* #start {
    width: 800px;
    max-height: 80%;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 5px solid black;
    box-shadow: 0 0 10;

} */

/* #question-container {
    width: 800px;
    max-height: 80%;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 5px solid black;
    box-shadow: 0 0 10;
} */

.btn-grid {
    display: grid;
}

.btn {
    margin: 5px;
    background-color: aliceblue; 
}

.hide {
    display: none;
}

#finish {
    width: 800px;
    max-height: 80%;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;
    /* border: 5px solid black; */
    box-shadow: 0 0 10;
}

h1,
p,
#card-footer {
  text-align: center;
  margin-top: 25px;
}


