*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: darkblue;
}

header {
    margin-top: 20px;
}

#timer {
    float: right;
    color: white;
}

#highscores {
    float: left;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#start {
    width: 800px;
    max-height: 80%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10;
}

#question-container {
    width: 800px;
    max-height: 80%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10;
}

.btn-grid {
    display: grid;
}

.btn {
    margin: 5px; 
}

.hide {
    display: none;
}